#border{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    border-style: solid;
    border-width: 3em;
    border-color: white;
    position: fixed;
}

img[src*="logo.png"]{
    width: 10em;
    position: absolute;
}

.list-group{
    position: relative;
    align-self: center;
    grid-row: 1;
    grid-column: 2;
    justify-self: right;
}

.list-group-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color:transparent;
    border: none;
    color: white;
}

.list-group-item:hover{
    color: #222222;
}

.grid-container-intro {
    display: grid;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    /* 
    margin:2em;
    */
    padding: 5em;
    grid-template-columns: auto auto;
    grid-template-rows:80vh 80vh 80vh;
    grid-row-gap: 10em;
    background-color: #DC143C;
    align-items: center;
  }

.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:4em;
    align-self: center;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    font-weight: bold;
    color: white;
    position: relative;
    line-height: 1.5em;
}

.h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:2em;
    display: grid;
    font-weight: bold;
    color: white;
    position: relative;
    line-height: 2em;
}

/* Introduction end */

.grid-container-services {
    display: grid;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    margin: 2em;
    margin-top: 20em;
    padding: 5em;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10vh 10vh;
    justify-items: center;
    align-items: center;
  }

img[src="services/code.svg"], [src="services/edit.svg"], [src="services/ad.svg"]{
    width: 5rem;
    display: grid;
}

.services{
    font-family: Arial, Helvetica, sans-serif;
    font-size:2em;
    display: grid;
    font-weight: bold;
    color: #DC143C;
    position: relative;
    padding: 2rem;
}

.grid-container-main {
    display: grid;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    margin:2em;
    padding: 5em;
    grid-template-columns: auto;
    grid-template-rows: 80vh 80vh;
    grid-row-gap: 10em;
    align-items: center;
  }

  h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size:2em;
    display: grid;
    font-weight: bold;
    color: #DC143C;
    position: relative;
    line-height: 2em;
}