html{
    scroll-behavior:smooth
}

button:focus{
    outline:none;
}

@keyframes sonarWave {
    0% {
      opacity: 0;
      background: none;
      border: 2px solid white;
      transform:scale(1)
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
      border: 2px solid white;
    }
    100% {
        transform: scale(2);
        opacity: 0;
        border: 2px solid white;
        background: none;
      }
  }

@keyframes sonarWaveRed {
    0% {
      opacity: 0;
      background: none;
      border: 2px solid #DC143C;
      transform:scale(1)
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
      border: 2px solid #DC143C;
    }
    100% {
        transform: scale(2);
        opacity: 0;
        border: 2px solid #DC143C;
        background: none;
      }
  }

#border{
    width: 100%;
    height: 100%;
    z-index: 0;
    border-style: solid;
    border-width: 2em;
    border-color: white;
    position: fixed;
    pointer-events: none;
}

@media screen and (max-width: 823px){

    #border{
        width: 100%;
        height: 100%;
        z-index: 0;
        border-style: solid;
        border-width: 1em;
        border-color: white;
        position: fixed;
    }

}

clients{
    display: none;
    position: fixed;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    width: auto;
    font-size:3rem;
    color: #DC143C;
    line-height: 2em;
    top: 50%;
    transform: translateY(-50%);
    left: 5rem;
    transition: 1s ease-in-out;
    z-index: 2;
    grid-auto-flow: column;
}

.menubutton{
    width: 5rem;
    height: 5rem;
    z-index: 2;
    border-radius: 50%;
    border:none;
    background: white;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
}

.menubuttonred{
    width: 5rem;
    height: 5rem;
    z-index: 2;
    border-radius: 50%;
    border:none;
    background: #DC143C;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    display: none;
}

.menubuttonred:hover{
    z-index: 2;
    border-radius: 50%;
    border:none;
    background: white;
    position: fixed;
    transition: .5s ease-in-out;

    animation: sonarWaveRed 1.5s linear infinite;
}

.menubutton2{
    width: 5rem;
    height: 5rem;
    z-index: 1;
    border-radius: 50%;
    border:none;
    background: white;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    transition: 1s ease-in-out;
}

.menubutton:hover{
    z-index: 2;
    border-radius: 50%;
    border:none;
    background: white;
    position: fixed;
    transition: .5s ease-in-out;

    animation: sonarWave 1.5s linear infinite;
}

@media screen and (max-width: 823px){

    clients{
        display: none;
        position: fixed;
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-style: normal;
        width: auto;
        font-size:2rem;
        color: #DC143C;
        line-height: 2em;
        top: 50%;
        transform: translateY(-50%);
        left: 2rem;
        transition: 1s ease-in-out;
        z-index: 2;
        grid-auto-flow: column;
    }
    
    .menubutton{
        width: 3rem;
        height: 3rem;
        z-index: 2;
        border-radius: 50%;
        border:none;
        background: white;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
    }
    
    .menubuttonred{
        width: 3rem;
        height: 3rem;
        z-index: 2;
        border-radius: 50%;
        border:none;
        background: #DC143C;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        display: none;
    }
    
    .menubuttonred:hover{
        z-index: 2;
        border-radius: 50%;
        border:none;
        background: white;
        position: fixed;
        transition: .5s ease-in-out;
    
        animation: sonarWaveRed 1.5s linear infinite;
    }
    
    .menubutton2{
        width: 3rem;
        height: 3rem;
        z-index: 1;
        border-radius: 50%;
        border:none;
        background: white;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        transition: 1s ease-in-out;
    }
    
    .menubutton:hover{
        z-index: 2;
        border-radius: 50%;
        border:none;
        background: white;
        position: fixed;
        transition: .5s ease-in-out;
    
        animation: sonarWave 1.5s linear infinite;
    }

}

ul{
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:1rem;
    position: absolute;
    list-style: none;
    display: inline-flex;
    right: 5em;
    z-index: 2;
}

@media screen and (max-width: 823px){

    ul{
        right: 3rem;
    }

}

li{
    padding: .5em;
    color: white;
    text-decoration: none;
}

li:hover{
    color: #222222;
    text-decoration: none;
}

li2{
    padding: .1em;
    color: #DC143C;
    text-decoration: none;
    align-self: center;
}

li2:hover{
    cursor: pointer;
}

img[src*="logo.png"]{
    width: 10em;
    position: absolute;
}

@media screen and (max-width: 823px){

    img[src*="logo.png"]{
        width: 5em;
        position: absolute;
    }

}

img[src*="arrow.png"]{
    width: 4em;
    position: fixed;
    right:5rem;
    bottom:5rem;
    z-index:1;
}

@media screen and (max-width: 823px){

    img[src*="arrow.png"]{
        width: 2em;
        position: fixed;
        right: 2rem;
        bottom:2rem;
        z-index:1;
    }

}

section{
    width: 100%;
    height: 100vh;
    padding: 4rem;
    overflow: hidden;
}

@media screen and (max-width: 823px){

    section{
        width: 100%;
        height: 100vh;
        padding: 2rem;
        overflow: hidden;
    }

}

.socials{
    position: relative;
    align-self: center;
    float: right;
    z-index: 2 ;
    top:50%;
    transform: translateY(-50%);
}

.socials-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color:transparent;
    border: none;
    color: white;
}

.socials-item:hover{
    color: #222222;
}

h1{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:4em;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 823px){

    h1{
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size:2rem;
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

}

h2{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
    font-size:2em;
    opacity: 1;
    color: white;
    line-height: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0 !important;

}

@media screen and (max-width: 823px){

    h2{
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        width: fit-content;
        font-size:.75rem;
        opacity: 1;
        color: white;
        line-height: 2em;
        left: 0;
        margin:0 !important;
    }

}

/* Introduction end */

.grid-container-services {
    display: grid;
    width: 100%;
    padding: 5em;
    grid-template-columns: 33% 40% 33%;
    grid-template-rows: 10vh 10vh;
    justify-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0 !important;
    text-align: center;
    place-content: center;
    align-items: center;
  }

  @media screen and (max-width: 823px){

    .grid-container-services {
        grid-template-columns: 33% 33% 33%;
        padding: 1em;
        margin:0 !important;
        text-align: center;
        place-content: center;
        align-items: center;
      }

}

img[src="services/code.svg"], [src="services/edit.svg"], [src="services/ad.svg"]{
    width: 5rem;
    display: grid;
}

@media screen and (max-width: 823px){

    img[src="services/code.svg"], [src="services/edit.svg"], [src="services/ad.svg"]{
        width: 2rem;
        display: grid;
    }

}

.services{
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:2em;
    display: grid;
    color: white;
    position: relative;
    padding: 1rem;
}

@media screen and (max-width: 823px){

    .services{
        font-size:.75em;
    }

}

.grid-container-clients {
    display: grid;
    width: 100%;
    padding: 2rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0 !important;
    align-items:center;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    z-index: 1;
  }

  .grid-container-clients > a :hover{
      cursor: pointer;
      filter: invert(100%);
  }

  @media screen and (max-width: 823px){

    .grid-container-clients {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        padding: 0rem;
        margin:0 !important;
        align-items:center;
        grid-auto-flow: column;
        z-index: 1;
      }

}

img[src="logos/Aksun.png"], [src="logos/Alphabeta.png"], [src="logos/Aynur.png"], [src="logos/Blutv.png"], [src="logos/Cooltrap.png"], [src="logos/Jeebly.png"], [src="logos/Kymco.png"], [src="logos/MG.png"], [src="logos/NG.png"], [src="logos/Norom.png"], [src="logos/Teacherx.png"], [src="logos/Zebrano.png"]{
    width: 9rem;
    display: grid;
    margin:2rem;
}

@media screen and (max-width: 823px){

    img[src="logos/Aksun.png"], [src="logos/Alphabeta.png"], [src="logos/Aynur.png"], [src="logos/Blutv.png"], [src="logos/Cooltrap.png"], [src="logos/Jeebly.png"], [src="logos/Kymco.png"], [src="logos/MG.png"], [src="logos/NG.png"], [src="logos/Norom.png"], [src="logos/Teacherx.png"], [src="logos/Zebrano.png"]{
        width: 4rem;
        display: grid;
        margin-top: 2rem;
        margin-bottom:2rem;
    }

}

  .process{
    background-size: cover;
    height: 100vh;
    padding: 0.5em 1em;
    margin: -.5rem -2rem;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: relative;
    font-size:8em;
    z-index: -1;
  }

  @media screen and (max-width: 823px){

  .process{
    background-size: cover;
    height: 100vw;
    padding: 1rem;
    margin:  auto -1rem;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: relative;
    font-size:3em;
    z-index: -1;
  }

}

.clientvideo{
    background-size: cover;
    max-width: -webkit-fill-available;
    margin: 1rem;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size:8em;
    z-index: -1;
    position: absolute;
  }

  @media screen and (max-width: 823px){

  .clientvideo{
    display: none;
    background-size: cover;
    margin: auto -1rem;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: relative;
    font-size:3em;
    z-index: -1;
  }

}

.videooverlay{
    max-width: -webkit-fill-available;
    margin: 0;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: absolute;
    font-size:8em;
    z-index: 1;
    padding: 0.5em 1em;
  }

  @media screen and (max-width: 823px){

  .videooverlay{
    display: none;
    max-width: -webkit-fill-available;
    margin: 0;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: absolute;
    font-size:8em;
    z-index: 1;
  }

}